Doanlesg/DoLeSaiGonChat.json
{
  "name": "DoLeSaiGonChat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-consult",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a379544-a8ca-46c2-98ef-c9286057b19d",
      "name": "Webhook - Nhận tin nhắn KH",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [656, -64],
      "webhookId": "product-consult-001"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"body\"][\"customer_id\"] }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json[\"body\"][\"message\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "11c903f5-113b-4070-ad93-0966d54087bd",
      "name": "IF - Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [864, -64]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $('Webhook - Nhận tin nhắn KH').item.json['body'];\n\nconst customerId      = body['customer_id'] || '';\nconst sessionId       = body['session_id']  || ('session_' + Date.now());\nconst customerMessage = body['message']     || '';\nconst allProducts     = body['products']    || [];\nconst cartItems       = body['cart']        || [];\nconst purchaseHistory = body['purchase_history'] || [];\n\n// Filter products: in-stock first, then relevance by keyword match, max 15\nconst msgWords = customerMessage.toLowerCase().split(/\\s+/);\nconst inStock = allProducts.filter(function(p) { return p['stock'] > 0; });\nfunction score(p) {\n  const text = (p['name'] + ' ' + p['category'] + ' ' + (p['description'] || '')).toLowerCase();\n  return msgWords.reduce(function(n, w) { return n + (text.includes(w) ? 1 : 0); }, 0);\n}\nconst relevantProducts = inStock\n  .map(function(p) { return { p: p, s: score(p) }; })\n  .sort(function(a, b) { return b.s - a.s; })\n  .slice(0, 15)\n  .map(function(x) { return x.p; });\n\n// Format catalog (compact)\nconst productCatalog = relevantProducts.map(function(p) {\n  const priceNum     = Number(p['price'])      || 0;\n  const salePriceNum = Number(p['sale_price']) || 0;\n  const priceStr = (salePriceNum > 0 && salePriceNum < priceNum)\n    ? salePriceNum.toLocaleString('vi-VN') + 'đ (giảm từ ' + priceNum.toLocaleString('vi-VN') + 'đ)'\n    : priceNum.toLocaleString('vi-VN') + 'đ';\n  const desc = (p['description'] || '').slice(0, 80);\n  return '[' + p['sku'] + '] ' + p['name'] + ' | ' + p['category'] + ' | ' + priceStr + ' | ' + desc;\n}).join('\\n');\n\n// Format cart (compact)\nconst cartSummary = cartItems.length > 0\n  ? cartItems.map(function(c) {\n      return '[' + c['sku'] + '] ' + c['name'] + ' ×' + c['quantity'];\n    }).join(', ')\n  : 'Trống';\n\n// Format history (compact, max 5)\nconst historySummary = purchaseHistory.length > 0\n  ? purchaseHistory.slice(0, 5).map(function(h) {\n      return '[' + h['sku'] + '] ' + h['name'] + ' x' + (h['times_bought'] || 1);\n    }).join(', ')\n  : 'Chưa có';\n\nconst systemPrompt = `Tư vấn viên Dole Saigon. Quy tắc: chỉ dùng sản phẩm trong catalog, tối đa 3-5 gợi ý, tiếng Việt ngắn gọn, kèm [SKU]. Trả JSON: {\"reply\":\"...\",\"recommendations\":[{\"sku\":\"...\",\"name\":\"...\",\"reason\":\"...\",\"price\":0,\"category\":\"...\"}],\"intent\":\"product_query|price_check|recommendation|complaint|other\"}`;\n\nconst userPrompt = `KH: ${customerMessage}\\nGiỏ: ${cartSummary}\\nLịch sử: ${historySummary}\\n\\nCATALOG (${relevantProducts.length} sản phẩm liên quan):\\n${productCatalog}\\n\\nTrả JSON.`;\n\nreturn [{\n  json: {\n    customer_id:      customerId,\n    session_id:       sessionId,\n    customer_message: customerMessage,\n    system_prompt:    systemPrompt,\n    user_prompt:      userPrompt,\n    product_count:    relevantProducts.length\n  }\n}];\n"
      },
      "id": "c6791bbc-7995-4051-95c8-87994fb20820",
      "name": "Code - Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1056, -64]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": false, \"error\": \"Missing required fields: customer_id, message\" }",
        "options": { "responseCode": 400 }
      },
      "id": "ca20bf3a-0d7f-4629-88d1-4c32ab8d006a",
      "name": "Respond - Lỗi thiếu data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1056, 96]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessage",
              "message": "={{ $json.system_prompt }}"
            }
          ]
        }
      },
      "id": "b3c12345-aaaa-bbbb-cccc-111122223333",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1280, -64]
    },
    {
      "parameters": {
        "model": "amazon.nova-micro-v1:0",
        "options": {
          "temperature": 0.4,
          "maxTokensToSample": 800
        }
      },
      "id": "d4e56789-dddd-eeee-ffff-444455556666",
      "name": "AWS Bedrock Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [1280, 96],
      "credentials": {
        "aws": {
          "id": "",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst prev = $('Code - Build AI Prompt').item.json;\n\n// LangChain chainLlm returns { text: '...' } or { output: '...' }\nlet rawText = $json['text'] || $json['output'] || $json['response']?.text || '';\n\n// Parse JSON from AI reply\nlet parsed = null;\ntry {\n  parsed = JSON.parse(rawText);\n} catch(e1) {\n  try {\n    const match = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (match) parsed = JSON.parse(match[0]);\n    else throw new Error('No JSON');\n  } catch(e2) {\n    parsed = {\n      reply: rawText || 'Xin lỗi, tôi không thể xử lý yêu cầu. Vui lòng thử lại.',\n      recommendations: [],\n      intent: 'other'\n    };\n  }\n}\n\nconst recs = (parsed['recommendations'] || []).slice(0, 5).map(function(r) {\n  return {\n    sku:      r['sku']      || '',\n    name:     r['name']     || '',\n    reason:   r['reason']   || '',\n    price:    r['price']    || 0,\n    category: r['category'] || ''\n  };\n});\n\nreturn [{\n  json: {\n    customer_id:      prev['customer_id'],\n    session_id:       prev['session_id'],\n    original_message: prev['customer_message'],\n    reply:            parsed['reply'] || '',\n    recommendations:  recs,\n    intent:           parsed['intent'] || 'other',\n    meta: {\n      model:     'amazon.nova-micro-v1:0',\n      timestamp: new Date().toISOString()\n    }\n  }\n}];\n"
      },
      "id": "a1fb66e7-6b96-42db-94f2-0a180b91c53e",
      "name": "Code - Parse & Clean Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1504, -64]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { session_id: $json[\"session_id\"], reply: $json[\"reply\"], recommendations: $json[\"recommendations\"], intent: $json[\"intent\"] } }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "75b2a034-dc01-4413-803f-39e16d208a7a",
      "name": "Respond - Trả về KH",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1728, -64]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Nhận tin nhắn KH": {
      "main": [[{ "node": "IF - Validate Input", "type": "main", "index": 0 }]]
    },
    "IF - Validate Input": {
      "main": [
        [{ "node": "Code - Build AI Prompt", "type": "main", "index": 0 }],
        [{ "node": "Respond - Lỗi thiếu data", "type": "main", "index": 0 }]
      ]
    },
    "Code - Build AI Prompt": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Code - Parse & Clean Response", "type": "main", "index": 0 }]]
    },
    "Code - Parse & Clean Response": {
      "main": [[{ "node": "Respond - Trả về KH", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
